.header-bar {
  background-color: rgb(20, 50, 60); /* um pouco mais escuro que o body */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* sombra sutil para destacar */
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faixa-spacer {
  flex: 1 ;
}

.header-icon {
  width: 90px;
  height: auto;
  margin: 0 2px;
  padding: 2%;
  padding-bottom: 1%;
}

.header-icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
h1{
  padding-top: 3%;
  color:white;
  text-align: center;
}
p{
  padding-top: 1%;
  padding-bottom: 0.5%;
  color: #cecece;
  text-align: center;
  font-weight: 400;
}
.custom-icon-button {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: none !important;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.custom-icon-button mat-icon {
  color: white !important;
  transition: color 0.3s ease;
  cursor: pointer;
}

.custom-icon-button:hover {
  background-color: rgba(255, 255, 255, 0.25); /* mais visível */
  mat-icon {
    color: #000000 !important; /* opcional: muda a cor do ícone no hover */
  }
}