body {
  background-color: #143640;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 600px;
  margin: 2.5rem auto;
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.container:hover{
   transform: scale(1.03);
}

.titulo {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.input-usuario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2rem;
  transition: box-shadow 0.3 ease;
}

.campo-matricula {
  padding: 0.8rem;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  
}

.input-usuario:focus {
  box-shadow: 0 0 0 2px #143640; /* Substitui a borda padrão por sombra */
}
.lista-livros {
  list-style: none;
  padding: 0;
}

.livro-card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.livro-card:hover {
  transform: scale(1.015);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.livro-card h3 {
  margin-top: 0;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-emprestar {
  background-color: #28a745;
  color: white;
}

.btn-emprestar:hover {
  background-color: #218838;
}

.btn-devolver {
  background-color: #dc3545;
  color: white;
}

.btn-devolver:hover {
  background-color: #c82333;
}

.mensagem {
  padding: 1rem;
  border-radius: 6px;
  font-size: 1rem;
}

.mensagem.sucesso {
  background-color: #d4edda;
  color: #155724;
}

.mensagem.erro {
  background-color: #f8d7da;
  color: #721c24;
}

.header-bar {
  background-color: rgb(20, 50, 60); /* um pouco mais escuro que o body */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* sombra sutil para destacar */
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faixa-spacer {
  flex: 1 ;
}

.header-icon {
  width: 90px;
  height: auto;
  margin: 0 25px;
  padding: 6%;
  padding-bottom: 1%;
}

.header-icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* Adicione ao seu arquivo CSS */
.success-snackbar {
  background-color: #4caf50; /* Verde */
  color: white;
}

/* Se quiser estilizar também o botão de fechar */
.success-snackbar .mat-simple-snackbar-action {
  color: white;
}